<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<title>Spring MVC MusicPlayer</title>
	<!-- Boostrap core css -->
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}" />
	<!-- custom style -->
	<link rel="stylesheet" th:href="@{/css/main.css}" />
</head>

<body>

	<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
		<a class="navbar-brand" href="#">Wetal.com</a>
	</nav>

	<div class="starter-template">
		<br>
		<br>
		<h1>Music Player</h1>
		<div th:each="song : ${allSongs}">
			<a th:href="@{/songs/{id}(id=${song.getId()})}" th:text="${song.getTitle()}">song</a>
		</div>
	</div>

	<!-- Boostrap core js -->
	<script type="text/javascript" th:src="@{webjars/bootstrap/5.2.0/js/bootstrap.min.js}"></script>
</body>

</html>